.App {
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 20cm;
    height: 25cm;
    background-color: #2C3E50;
    border:solid #992B02;
}
.card:hover{
    border:solid #F16051;
}
@media  screen and (max-width: 600px) {
    .card {
        width: 30cm;
    }
}

body {
    background-image: url("https://wallpapersite.com/images/wallpapers/surface-1920x1080-triangles-hd-13260.jpg");
}

#main-div {
    margin-left: 24%;
    margin-top: 2%;
    font-family: 'Roboto Slab', serif;
}

#title {
    font-family: 'IBM Plex Serif', serif;
    font-size: 5em;
    text-align: center;
    color: #F16051;
    margin-bottom: 1cm;
    text-decoration-line: underline;
    text-decoration-color:#F16060 ;
    text-decoration-style: double;


}

#input {
    border-bottom-color: #F16051;
    font-size: 2em;
    color: #F16060;
}

.btn-large:hover {
    background-color: #F16060
}

.btn-large, .btn-large:after {
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 7cm;
    background-color: #F16051;
}

#other {
    margin-left: 6cm;
    font-size: 2em;
    color: #F16060;
    font-family: 'Abel', sans-serif;

}

#img {
    width: 160px;
    height: 160px;
    margin-left: 7cm;
}
#span1{
    margin-left: 3cm;
    margin-top: 1cm;
}
#span1, #img {
    font-size: 1.5em;
    display: inline-block;
    color: #F16060;
}

#span4 {
    margin-left: 7.7cm;
    margin-bottom: 1cm;
    margin-top: 2cm;
    font-size: 1.5em;
    line-height: 2cm;
    color: #F16060;
}

#span2 {
    color: #F16060;
    margin-left: 5cm;
    margin-bottom: 1cm;
    margin-top: 2cm;
    font-size: 1.5em;
    line-height: 2cm;
}

#span3, #span5, #span6 {
    margin-left: 1cm;
    margin-bottom: 1cm;
    margin-top: 2cm;
    font-size: 1.5em;
    line-height: 2cm;
    color: #F16060;
}
@media screen and (max-width: 992px) {
    .row {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .row {
        width: 100%;
    }
}
